appdirs==1.4.4
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
cycler==0.11.0
decorator==5.1.1
fonttools==4.34.4
idna==3.4
joblib==1.1.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.5.2
networkx==3.0rc1
numpy==1.23.1
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
platformdirs==2.6.0
pyopencl==2022.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytools==2022.1.13
pytz==2022.1
requests==2.28.1
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.12.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
-e git+https://github.com/geohot/tinygrad.git@4fb97b8de0e210cc37786ffdafc5dc0e990df593#egg=tinygrad
torch==1.13.0
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.13
